body {
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(31, 28, 39);
    color: #fafcff;
  }
  
  main {
    border: 1px solid #fafcff;
    text-align: center;
    height: 100%;
  }
  
  p {
    padding: 2rem;
    text-align: center;
    font-size: large;
  }
  